select
SEQUENCE_CATALOG as database_name,
SEQUENCE_SCHEMA as schema_name,
SEQUENCE_NAME as object_name,
data_type,
NUMERIC_PRECISION,
NUMERIC_SCALE,
START_VALUE,
MINIMUM_VALUE,
MAXIMUM_VALUE,
NEXT_VALUE,
"INCREMENT",
CYCLE_OPTION,
LAST_ALTERED::timestamp_ntz as last_altered,
COMMENT
from INFORMATION_SCHEMA.SEQUENCES